Data4Analysis/*
__pycache__
__pycache__/*
__pycache__/functions.cpython-310.pyc
__pycache__/
*.pyc
*.pyo
*.pyd
build/*
dist/*
Data4Analysis
AppDir/*
appimagetool
linuxdeploy
PulsarAnalyticsKit*.AppImage
token.txt
README.html